.listContainer {
  margin: 0.6rem 6.2rem;
}

.listItems img {
  width: 350px;
  height: 300px;
  margin-right: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.listItems {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px var(--neutral-color-2);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.listItems:hover {
  transform: scale(1.05);
}

.listWrapper {
  padding: 0.8rem;
  line-height: 1.5rem;
}

.listWrapper div {
  font-size: 1.2rem;
  padding: 1rem 0 1rem;
}

.listWrapper button {
    width: 12rem;
    height: 3rem;
    background: var(--accent-color);
    border: none;
    box-shadow: none;
    font-size: 1.3rem;
    color: var(--white);
    border-radius: 5px;
}